.app-form {
  width: 100%;
}

.app-form input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.app-form input:focus {
  outline: none;
  border: 1px solid #aaa;
}

.app-form input,
.app-form button,
#jugar-fecha {
  display: block;
  margin: 10px auto !important;
}