.fixture {
    text-align: center;

}

.fixture li {
    max-width: 600px;
    margin: auto;
    outline: 1px solid #ddd;
    margin: 20px auto;
}

.fixture li::marker {
    content: "";
}

.fixture li .fecha-partido {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.fixture li .fecha-partido:nth-child(even) {
    background-color: #eee;
}

.fixture li .fecha-partido:nth-child(odd) {
    background-color: #fff;
}

.fecha-label {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}