#lista-equipos {
    border: 1px solid #ddd;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.datos-equipo:nth-child(odd) {
    background-color: #eee;
}

.datos-equipo:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.datos-equipo {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr repeat(4, 1fr);
}


.datos-equipo div {
    /*    outline: 1px solid #ddd;*/
    text-align: center;
}

.nombre-equipo,
.fuerza-equipo,
.puntos-equipo,
.partidos-equipo {

    display: inline-block;
}